{{ form_start(form) }}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        {{ form_row(form.nom) }}
        {{ form_row(form.dateControle) }}
        {{ form_row(form.documents) }}
    </div>
</div>

<div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-flex flex-row justify-content-between">
            <div>
                <a class="text-decoration-none text-light" href="{{ path('app_controle_index') }}"><button type="button" class="btn btn-primary me-2">Relevé des contrôles Labocéa</button></a>
            </div>
            <div>
                <a class="text-decoration-none text-light" href="{{ path('main_home') }}"><button type="button" class="btn btn-primary me-2">Annuler</button></a>
                <button class="btn bg-primary text-light" name="btnsave" value="save" type="submit">Enregistrer</button>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

{{ form_end(form) }}
