{% extends 'base.html.twig' %}

{% block title %}Relevé des bons de livraisons | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Relevé des bons de livraisons</h2>

    <div class="border border-secondary rounded pt-4 ps-5 pe-5 mb-5">
        <h5 class="mb-3 ">Recherche :</h5>
        {{ form_start(form) }}
        <div class="d-flex justify-content-between">
            <div class="flex-grow-1 d-inline-block">
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateFin) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Filtrer</button>

        {{ form_end(form) }}
    </div>

    {% if livraisons|length > 10 %}
        <a class="text-decoration-none text-light" href="{{ path('main_home') }}"><button type="button" class="btn btn-primary">Retour</button></a>
        <a class="text-decoration-none text-light" href="{{ path('app_livraison_new') }}"><button type="button" class="btn btn-primary">Nouvelle saisie</button></a>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Utilisateur</th>
                <th class="text-center">Numero de livraison</th>
                <th class="text-center">Température</th>
                <th class="text-center">Date de livraison</th>
                <th class="text-center">Pièce jointe</th>
                <th class="text-center">Commentaires</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr class="align-middle">
                <td class="text-center">{{ livraison.editeur }}</td>
                <td class="text-center">{{ livraison.numeroLivraison }}</td>
                <td class="text-center">{{ livraison.temperature }}°</td>
                <td class="text-center">{{ livraison.dateLivraison ? livraison.dateLivraison|date('d-m-Y') : '' }}</td>
                {% for pdf in livraison.documents %}
                    <td class="text-center d-flex flex-column p-4">
                        <a href="{{ asset('uploads/' ~ pdf.nomStockage) }}" class="text-decoration-none text-muted livraison-lien">Voir le document</a>
                    </td>
                {% endfor %}
                {% if livraison.commentaire %}
                    <td class="text-center">{{ livraison.commentaire }}</td>
                {% else %}
                    <td class="text-center"></td>
                {% endif %}
                <td class="text-center">
                    <a href="{{ path('app_livraison_edit', {'id': livraison.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun bon de livraison enregistré !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-decoration-none text-light me-2" href="{{ path('main_home') }}"><button type="button" class="btn btn-primary">Retour</button></a>
    <a class="text-decoration-none text-light" href="{{ path('app_livraison_new') }}"><button type="button" class="btn btn-primary">Nouvelle saisie</button></a>

{% endblock %}
