{% extends 'base.html.twig' %}

{% block title %}Relevé des étiquettes | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Relevé des étiquettes</h2>

    <div class="border border-secondary rounded pt-5 ps-5 pe-5 mb-5">
        <h5 class="mb-3 ">Recherche :</h5>
        {{ form_start(form) }}
        <div class="d-flex justify-content-between">
            <div class="flex-grow-1 d-inline-block">
                {{ form_row(form.dateDebut) }}
                {{ form_row(form.dateFin) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Filtrer</button>

        {{ form_end(form) }}
    </div>

    {% if etiquettes|length > 10 %}
    <a class="text-decoration-none text-light" href="{{ path('main_home') }}"><button type="button" class="btn btn-primary">Retour</button></a>
    <a class="text-decoration-none text-light" href="{{ path('app_etiquette_new') }}"><button type="button" class="btn btn-primary">Nouvelle saisie</button></a>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Utilisateur</th>
                <th class="text-center">Nom du produit</th>
                <th class="text-center">Température</th>
                <th class="text-center">Date d'ouverture</th>
                <th class="text-center">Date limite de consommation</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etiquette in etiquettes %}
            <tr class="align-middle">
                <td class="text-center">{{ etiquette.editeur }}</td>
                <td class="text-center">{{ etiquette.nomProduit }}</td>
                <td class="text-center">{{ etiquette.temperature }}°</td>
                <td class="text-center">{{ etiquette.jourUtilise ? etiquette.jourUtilise|date('d-m-Y') : '' }}</td>
                <td class="text-center">{{ etiquette.dlc ? etiquette.dlc|date('d-m-Y') : '' }}</td>
                <td class="text-center">
                    <a href="{{ path('app_etiquette_show', {'id': etiquette.id}) }}" class="me-2"><button type="button" class="btn btn-primary">Détails</button></a>
                    <a href="{{ path('app_etiquette_edit', {'id': etiquette.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune étiquette enregistrée !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-decoration-none text-light me-2" href="{{ path('main_home') }}"><button type="button" class="btn btn-primary">Retour</button></a>
    <a class="text-decoration-none text-light" href="{{ path('app_etiquette_new') }}"><button type="button" class="btn btn-primary">Nouvelle saisie</button></a>

{% endblock %}
