{% extends 'base.html.twig' %}

{% block title %}Etiquette{% endblock %}

{% block body %}
    <h1>Etiquette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etiquette.id }}</td>
            </tr>
            <tr>
                <th>NomProduit</th>
                <td>{{ etiquette.nomProduit }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ etiquette.temperature }}</td>
            </tr>
            <tr>
                <th>JourUtilise</th>
                <td>{{ etiquette.jourUtilise ? etiquette.jourUtilise|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dlc</th>
                <td>{{ etiquette.dlc ? etiquette.dlc|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etiquette_index') }}">back to list</a>

    <a href="{{ path('app_etiquette_edit', {'id': etiquette.id}) }}">edit</a>

    {{ include('etiquette/_delete_form.html.twig') }}
{% endblock %}
