{% extends 'base.html.twig' %}

{% block title %}Etiquette | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Aperçu de l'étiquette</h2>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Utilisateur</th>
                    <td>{{ etiquette.editeur }}</td>
                </tr>
                <tr>
                    <th>Nom du produit</th>
                    <td>{{ etiquette.nomProduit }}</td>
                </tr>
                <tr>
                    <th>Température</th>
                    <td>{{ etiquette.temperature }}</td>
                </tr>
                <tr>
                    <th>Date d'utilisation du produit</th>
                    <td>{{ etiquette.jourUtilise ? etiquette.jourUtilise|date('m-d-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Date limite de consommation</th>
                    <td>{{ etiquette.dlc ? etiquette.dlc|date('m-d-Y') : '' }}</td>
                </tr>
                <tr>
                    {% if etiquette.documents | length > 1 %}
                    <th>Images</th>
                    {% else %}
                    <th>Image</th>
                    {% endif %}
                    {% for image in etiquette.documents %}
                        <td class="d-flex flex-column">
                            <a href="{{ asset('uploads/' ~ image.nomStockage) }}"><img src="{{ asset('uploads/' ~ image.nomStockage) }}" alt="Miniature" width="200"></a>
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>

            <a class="text-decoration-none text-light me-2" href="{{ path('app_etiquette_index') }}"><button type="button" class="btn btn-primary">Retour</button></a>
            <a class="text-decoration-none text-light" href="{{ path('app_etiquette_new') }}"><button type="button" class="btn btn-primary">Nouvelle saisie</button></a>

            <a href="{{ path('app_etiquette_edit', {'id': etiquette.id}) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
        </div>
    </div>

    {#{{ include('etiquette/_delete_form.html.twig') }}#}
{% endblock %}
