{% extends 'base.html.twig' %}

{% block title %}TacheRealise{% endblock %}

{% block body %}
    <h1>TacheRealise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache_realise.id }}</td>
            </tr>
            <tr>
                <th>Moment</th>
                <td>{{ tache_realise.moment ? tache_realise.moment|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tache_index') }}">back to list</a>

    <a href="{{ path('app_tache_edit', {'id': tache_realise.id}) }}">edit</a>

    {{ include('tache/_delete_form.html.twig') }}
{% endblock %}
