{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h2>Prise de température</h2>
        </div>
        <div class="col-3"></div>
    </div>
    {{ form_start(form) }}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for materiel in materiels %}
            <div class="card me-3 mb-3 card-css">
                <div class="card-header bg-primary text-light text-center">
                    {{ materiel.nom }}
                </div>
                <div class="card-body">
                    {% for temperatureForm in form.temperatures %}
                        {% if temperatureForm.vars.value.materiel.id == materiel.id %}
                            {{ form_row(temperatureForm.editeur) }}

                            <div>
                                <label for="{{ temperatureForm.valeur.vars.id }}">Température : </label><span id="{{ temperatureForm.valeur.vars.id }}_resultat" class="ms-1"></span>
                                {% if materiel.nom starts with 'Frigo' %}
                                    {{ form_widget(temperatureForm.valeur, {'attr': {'onchange': 'afficherValeur("' ~ temperatureForm.valeur.vars.id ~ '")', 'min': '0', 'max': '10', 'step': '0.5', 'title': 'Min: 0 / Max: 10'}}) }}
                                {% else %}
                                    {{ form_widget(temperatureForm.valeur, {'attr': {'onchange': 'afficherValeur("' ~ temperatureForm.valeur.vars.id ~ '")', 'min': '-30', 'max': '-15', 'step': '0.5'}}) }}
                               {% endif%}
                            </div>

                            {{ form_row(temperatureForm.commentaire) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="d-flex flex-row justify-content-center justify-content-md-center justify-content-sm-center flex-sm-wrap">
                <div>
                    <a class="text-decoration-none text-light" href="{{ path('app_temperature_index') }}"><button type="button" class="btn btn-primary me-2 mb-sm-2">Relevé des températures</button></a>
                </div>
                <div>
                    <a class="text-decoration-none text-light" href="{{ path('main_home') }}"><button type="button" class="btn btn-primary me-2">Annuler</button></a>
                    <button class="btn bg-primary text-light" name="btnsave" value="save" type="submit">Enregistrer</button>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('select[id$="_editeur"]').change(function() {
                let selectedValue = $(this).val();
                $('select[id$="_editeur"]').val(selectedValue);
            });
        });

        function afficherValeur(id) {
            // Afficher la valeur du cuurseur en cours
            let inputValeur = document.getElementById(id);
            let resultat = inputValeur.value;
            let resultatDiv = document.getElementById(id + "_resultat");
            resultatDiv.textContent = resultat;

            // Afficher la valeur min
            let minDiv = document.getElementById(id + "_min");
            minDiv.textContent = inputValeur.getAttribute("min");

            // Afficher la valeur max
            let maxDiv = document.getElementById(id + "_max");
            maxDiv.textContent = inputValeur.getAttribute("max");
        }

    </script>
{% endblock %}
