{% extends 'base.html.twig' %}

{% block title %}Statistiques | {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <h2>Températures</h2>
        <div class="row d-flex w-auto mb-5 justify-content-center">
            <div class="col-8 d-flex">
                {% for materiel in materiels %}
                    <a href="{{ path('app_temperature_stats', {'id': materiel.id, 'month': month}) }}" role="button"
                       class="text-decoration-none text-dark mt-4 mb-4 me-2 d-flex flex-row button-stats{% if loop.first %} active{% endif %}"
                       aria-pressed="{{ loop.first ? 'true' : 'false' }}">{{ materiel.nom }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <h3>Températures du mois :</h3>
            <form action="{{ path('app_temperature_stats', {'id': id}) }}" method="get" class="mb-0">
                <select name="month" onchange="this.form.submit()">
                    {% for key, value in months %}
                        {% set selected = month is defined and month == key ? 'selected' : '' %}
                        <option value="{{ key }}" {{ selected }}>{{ value }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <canvas id="myChart"></canvas>
    </div>

    <div class="mt-5">
        <a class="text-decoration-none text-light" href="{{ path('app_temperature_index') }}"><button type="button" class="btn btn-primary">Retour</button></a>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ dataDate | raw }},
                datasets: [{
                    label: 'Températures',
                    data: {{ dataValeur | raw }},
                    borderWidth: 1,
                    cubicInterpolationMode: 'monotone'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    </script>
{% endblock %}

